body {margin:0px; padding:0px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; color:#797779;}

#container {width:1024px; margin:0 auto; background:#FFF;  position:relative; -webkit-box-shadow: 0px 0px 15px #222;-moz-box-shadow: 0px 0px 15px #222; box-shadow: 0px 0px 15px #222;}
#header {width:1024px; height:213px; background:url(../images/top_bg.jpg) no-repeat bottom; position:relative;}
#top_menu {width:1000px; margin:0 auto; background:url(../images/top_menu_bg.png) no-repeat center; height:32px; margin-top:145px;}
#poisk {float:right; width:300px; margin-right:10px; height:20px; border: solid 1px #fff; -moz-border-radius: 15px; -webkit-border-radius: 15px; background:url(../images/input_bg.png) center  bottom repeat-x; margin-top:5px;}
#top_baners {width:100%; height:140px; font-size:14px; text-align:center; padding-left:10px;}
#mainContent { width:100%;}
#sidebar1 { float:left; width:235px; min-height:800px;}
#left_menu {background:url(../images/left_bg.jpg) repeat-y;-moz-border-radius: 10px; -webkit-border-radius: 10px; width:223px; margin-left:10px; padding-top:5px; padding-bottom:10px;}
#left_menu1 {background:url(../images/left_bg.jpg) repeat-y;-moz-border-radius: 10px; -webkit-border-radius: 10px; width:210px; margin-left:px; padding-top:5px; padding-bottom:10px;}
#article {width:225px; margin-left:10px;}
#sidebar2 {float:right; width:235px; min-height:800px;}
#new_firm {margin-top:20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; width:225px; background:url(../images/bg.png)}
#konkyrs {-moz-border-radius: 10px; -webkit-border-radius: 10px; width:100%; height:210px; border: solid 1px #999; background-color:#f3f3f3;}
#spec { width:550; -moz-border-radius: 10px; -webkit-border-radius: 10px; background:url(../images/bg.png); padding:10px 5px; height:300px;}
#foto {width:517px; min-height:200px;}
#footer {width:100%; height:220px; background:url(../images/foot_bg.jpg) no-repeat}


.logo {position:absolute; margin-left:52px; margin-top:15px;}
.logo_text {position:absolute;margin-left:145px; margin-top:105px; font-size:12px; width:220px;}

.tel {position:absolute; font-size:13px; margin-left:420px; margin-top:30px;}
.tel_text {font-size:17px; color:#bc416b; line-height:10px;}

.avtoroz_count {position:absolute; margin-left:660px; margin-top:22px; width:350px; height:92px; background:url(../images/bg.png); -moz-border-radius: 10px; -webkit-border-radius: 10px;}
.avtoriz_text {color:#bc416b; font-size:24px; font-style:italic; padding-top:5px; padding-left:12px;}
.avtoriz_login {font-size:12px; background:url(../images/input_bg.png); border: solid 1px #bebebe; width:115px; margin-left:11px; margin-top:10px;}
.avtoriz_pass {font-size:12px; background:url(../images/input_bg.png); border: solid 1px #bebebe; width:115px; margin-top:10px;}
.avtoriz_buttom { margin-top:10px; margin-right:10px;}
.avtoriz_dop {padding-left:12px}
a.avtoriz {font-size:12px; color:#000; font-weight:bold; text-decoration:underline;}
a.avtoriz:hover {font-size:12px; color:#000; font-weight:bold; text-decoration:none;}
.avtoriz_dop2 { padding-left:28px}

.poisk_input {background:url(../images/none.png); font-size:12px; color:#999; font-weight:bold; height:18px; border:none; margin-left:10px; width:195px; } 
.top_baners {float:left; width:245px; height:140px; margin-left:3px;}
a.top_baners_link {font-size:14px; color:#797779;text-decoration:underline}
a.top_baners_link:hover {font-size:14px; color:#797779;text-decoration:none}


.article {font-size:20px; color:#912b5d; font-style:italic;}
a.article_link  {color:#a63462; font-weight:bold;text-decoration:underline}
a.article_link:hover  {color:#a63462; font-weight:bold; text-decoration:none}

.article_pod {background:url(../images/dob_sv.png) no-repeat; width:225px; height:25px; margin-top:20px; margin-left:10px;}
.article_pod_l {float:left; width:80px; padding-left:20px; padding-top:4px}
.article_pod_r {float:right; width:110px; padding-left:0px; padding-top:4px}
.article_pod_r {float:right; width:110px; padding-left:0px; padding-top:4px}

a.article_pod_link { color:#333; font-size:12px; font-weight:bold;text-decoration:none}
a.article_pod_link:hover { color:#333; font-size:12px; font-weight:bold;text-decoration:underline}
a.article_pod_link_r {color:#FFF; font-size:12px; font-weight:bold; text-decoration:none}
a.article_pod_link_r:hover {color:#FFF; font-size:12px; font-weight:bold;text-decoration:underline}



.calendar {width:223px; height:215px; margin:5px 0 0 0}

.calendar_b_c {background:url(../images/dob_sv.png) no-repeat; width:225px; height:25px; margin-top:20px;}
.calendar_link {float:right; width:115px; padding-left:5px; padding-top:4px;}

.new_firm {article text-align:center; padding:10px;}

.soc {width:225px; margin-top:10px;}

.obich { width:225px;}

.obich_b {background:url(../images/dob_sv.png) no-repeat; width:225px; height:25px; margin-top:20px;} 


.main {padding:0px 252px; text-align:justify;}
.main_cat {padding:0px 15px 0px 252px; text-align:justify;}


.konkyrs_foto {float:left; margin:10px; width:245px; padding:5px; text-align:center; background-color:#FFF; border: solid 1px #999}
.konkyrs_img { margin-bottom:10px;}
a.konkyrs_link {font-size:14px; color:#999; font-style:italic;text-decoration:underline}
a.konkyrs_link:hover {font-size:14px; color:#999; font-style:italic;text-decoration:none}
.konkyrs_right { width:240px; float: right;}
.konkyrs_dop { font-size:16px;}

.main_text { text-align:justify;}

.jenih {-moz-border-radius: 10px; -webkit-border-radius: 10px; width:223px; float:left; background-color:#FFF; padding:10px; margin-left:10px; min-height:240px;}
a.jenih_link {margin-top:0px; margin-left:-20px; display:block; position:absolute; background:url(../images/zavityshka.png) no-repeat; height:23px; width:223px; color:#FFF; padding-top:7px; padding-left:20px; font-weight:bold; font-size:16px; text-decoration:none}
a.jenih_link:hover {margin-top:0px; margin-left:-20px; display:block; position:absolute; background:url(../images/zavityshka.png) no-repeat; height:23px; width:223px; color:#FFF; padding-top:7px; padding-left:20px; font-weight:bold; font-size:16px; text-decoration:underline}
.jenih_dop { margin-top:35px;}

.nevesta {-moz-border-radius: 10px; -webkit-border-radius: 10px; width:223px; float:right; background-color:#FFF; padding:10px; margin-left:10px;min-height:240px;}
a.nevesta_link {margin-top:0px; margin-left:-20px; display:block; position:absolute; background:url(../images/zavityshka.png) no-repeat; height:23px; width:223px; color:#FFF; padding-top:7px; padding-left:20px; font-weight:bold; font-size:16px;text-decoration:none}
a.nevesta_link:hover {margin-top:0px; margin-left:-20px; display:block; position:absolute; background:url(../images/zavityshka.png) no-repeat; height:23px; width:223px; color:#FFF; padding-top:7px; padding-left:20px; font-weight:bold; font-size:16px;text-decoration:underline}
.nevesta_dop {margin-top:35px;}

.foto {background:url(../images/foto_bg.png) repeat-x; width:505px; border: solid 1px #999; padding:5px; height:100px;}
a.foto_link {color:#7d7c7c;text-decoration:underline}
a.foto_link:hover {color:#7d7c7c;text-decoration:none}



.footer_text {width:990px;; height:160px; font-size:13px; color:#FFF; padding:10px; line-height:14px;}
.footer_schet {float:left; width:50%; padding-left:20px;}

.web-life {float:right; width:30%; padding:10px; color:#FFF; font-style:italic; text-align:right}
a.weblife {color:#FFF; font-style:italic; text-decoration:none}
a.weblife:hover {color:#FFF; font-style:italic; text-decoration:underline}

.baner_left {text-align:center; width:225px;}

a.top_menu {display:block;  height:17px; float:left; color:#fff; padding:6px 10px; text-align:center; text-decoration:none; margin-left:15px;}
a.top_menu:hover {display:block;  height:20px; float:left; color:#bc416b; margin-top:6px; padding:0px 10px; text-align:center; text-decoration:none; margin-left:15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background:url(../images/input_bg.png) center  bottom repeat-x;}
h1 { font-size:20px; color:#333; font-style:italic;}
h1.spec { font-size:20px; color:#912b5d; font-style:italic; line-height:10px;}
h2 { font-size:16px; color:#333; font-style:italic;}
h3 { font-size:14px; color:#333; font-style:italic;}

h2.firm { font-size:20px; color:#912b5d; font-style:italic; line-height:20px;}
h1.firm { font-size:16px; color:#333; font-style:italic; line-height:18px;}

a.right { display:block; width:190px;  background: url(../images/right_bg.png) no-repeat; padding:4px 10px 4px 25px; color:#838383; text-decoration:none}
a.right:hover { display:block; width:190px;  background: url(../images/right_bg_1.png) no-repeat; padding:4px 10px 4px 25px; color:#a63462;text-decoration:underline}

a.right1 { display:block; width:190px;  background: url(../images/right_bg1.png) no-repeat; padding:4px 10px 4px 25px;color:#838383;text-decoration:none}
a.right1:hover { display:block; width:190px;  background: url(../images/right_bg1_1.png) no-repeat; padding:4px 10px 4px 25px;color:#a63462;text-decoration:underline}

#menu { list-style:none; padding:0; margin:10px 0px 5px 0px; width:222px;}
#menu li{list-style-type:none; padding:0px 0px 5px 0px;  border-bottom: solid 1px #5a2746}
#menu li a {color:#FFF; display:block; width:200px; height:16px; background:url(../images/right_bg1_1_1.png) no-repeat; text-decoration:none; font-size:13px;padding:8px 5px 5px 20px; font-weight:bold;}
#menu li a:hover{color:#FFF; display:block;width:200px; height:16px; background: url(../images/zavityshka1.png) no-repeat;  text-decoration:none; font-size:13px;padding:8px 5px 5px 30px; margin-left:-10px;}
#menu li span {color:#FFF; display:block;width:200px; height:16px; background: url(../images/zavityshka1.png) no-repeat;  text-decoration:none; font-size:13px;padding:8px 5px 5px 30px; margin-left:-10px;}

#dop {list-style-image:none; background:url(../images/left_bg1.jpg); color:#FFF; margin:0px 0px 0px 0px; padding:0px;}
#dop li a {display:block; height:13px; font-size:13px; color:#FFF; background:url(../images/right_bg1__1.png) no-repeat;}
#dop li a:hover{display:block; height:13px; font-size:13px; color:#cb5b7d; background:url(../images/right_bg1_1_1.png) no-repeat; margin-left:0px; padding-left:20px;}
#dop li span{display:block; height:13px; font-size:13px; color:#cb5b7d; background:url(../images/right_bg1_1_1.png) no-repeat; margin-left:0px; padding-left:20px;}


.clear {font-size:1px; height:1px; line-height:1px; clear:both;}

#menu1 { list-style:none; padding:0; margin:10px 0px 5px 0px; width:190px;}
#menu1 li{list-style-type:none; padding:0px 0px 5px 0px;  border-bottom: solid 1px #5a2746}
#menu1 li a {color:#FFF; display:block; width:190px; height:16px; background:url(../images/right_bg1_1_1.png) no-repeat; text-decoration:none; font-size:13px;padding:8px 5px 5px 20px; font-weight:bold;}
#menu1 li a:hover{color:#FFF; display:block;width:190px; height:16px; background: url(../images/zavityshka2.png) no-repeat;  text-decoration:none; font-size:13px;padding:8px 5px 5px 30px; margin-left:-10px;}


/* select start -----------------------------------------------------------------------------------------------------------*/
.newListSelected{width:185px; float:left; margin:4px 10px 0px  10px}
.selectedTxt{float:left; width:182px;height:18px; background:url(../images/select.png);font-size:12px; padding:4px 10px;; }

.newList{list-style:none;padding:0; position:absolute; margin:-2px 0 0 5px; width:190px; border: solid 1px #F09}
.newList li{padding:0;margin:0;}
.newList li a{display:block;background:#FFF;font-size:12px;padding:0 6px;line-height:normal;outline:none;	overflow:hidden;}
.newList li a:link,.newList li a:visited,.newList li a:hover{color:#000;text-decoration:none;}
.newList li a.hiLite,.newList li a.newListHover{opacity:0.95;filter:alpha(opacity=95);}
/* select end -------------------------------------------------------------------------------------------------------------*/


.kroshki {width:100%; font-size:12px; color:#ad3663; font-weight:bold;}
a.kroshki_link {font-size:12px; color:#ad3663; font-weight:bold;}
a.kroshki_link:hover {font-size:12px; color:#ad3663; font-weight:bold;text-decoration:none}



.line {background:url(../images/line.png) repeat-x; width:100%; height:2px; margin:10px 0px;}


.poisk_v {width:509px; height:32px; background:url(../images/poisk_bg.jpg) no-repeat; margin:0 auto;}
.poisk_v_b {margin-left:10px; margin-top:7px;}


.katalog_count {width:509px; min-height:74px; padding:5px;}
.katalog_img {border: solid 1px #CCC; margin-top:5px;}
.katalog_text { width:360px;  margin-left:150px;}
.katalog_zag { font-size:18px; color:#ad3663}

.obj_content { width:527px; float:left}
.obj_foto {width:505px; min-height:150px; background:url(../images/bg.png); -moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px;}
a.obj_foto_link {display: block; float:left; width:155px; min-height:150px; margin-left:10px; color:#333}
a.obj_foto_link:hover {display: block; float:left; width:155px; min-height:150px; margin-left:10px; color:#333;text-decoration:none}

.obj_bottom { color:#333; font-weight:bold; text-align:left}
a.obj_bottom1 {color:#ad3663; font-weight:normal; text-decoration:none}
a.obj_bottom1:hover {color:#ad3663; font-weight:normal; text-decoration:underline}
a.obj_bottom2 {color:#333; font-weight:normal; text-decoration:none}
a.obj_bottom2:hover {color:#333; font-weight:normal; text-decoration:underline}
.obj_bottom3 {padding-left:10px;}
.obj_bottom4 {padding-left:30px;}
.obj_bottom5 {padding-left:150px;}


.obj_right {width:213px; min-height:500px; float:right;}
.obj_right_count {width:193px; min-height:400px; background:url(../images/bg.png); moz-border-radius: 10px; -webkit-border-radius: 10px; padding:10px; text-align:left; color:#333; font-size:13px}
.obj_right_img { margin-left:-3px;}
.obj_right_adr {font-size:16px; font-style:italic; color:#ad3663}
.obj_right_tel { font-size:14px;}
a.obj_right_link {color:#000}
a.obj_right_link:hover {color:#000; text-decoration:none}

.obj_right_adr1 {font-size:18px; font-style:italic; color:#ad3663}

.obj_right_tags {width:193px; min-height:50px; padding:10px; text-align:left}

a.obj_right_tags_link { color:#999}
a.obj_right_tags_link:hover { color:#999; text-decoration:none}

.obj_rub {font-size:18px; font-style:italic; color:#ad3663; padding-left:15px;}


.photo {width:154px; min-height:250px; text-align:left; float:left; margin-right:35px; margin-bottom:25px;}
.photo_dop {width:154px; min-height:200px; text-align:left; float:left; margin-right:35px; margin-bottom:25px;}
.photo_img { border: solid 1px #CCC}
.photo_name { color:#b13764; font-weight:bold}
.photo_svad {color:#999; font-size:13px;}
.photo_date {color:#333; font-size:13px;}
.photo_naz {color:#333; font-size:13px;min-height:40px;}

.photo_big {margin-top:3px; margin-right:10px;}



/* calendar end ------------------------------------------------------------------------------------------------------------------------------*/
.calendar_count {width:211px; height:215px; border: solid 1px #dedede; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color:#f3f3f3; margin:0 auto;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px;}

.month {width:100%; height:35px; text-align:center; padding-top:10px; font-size:16px;}

a.month_r {color:#848484; text-decoration:none;}
a.month_r:hover {color:#848484; text-decoration:underline;}

.days {width:28px; height:20px; text-align:center; float:left; color:#a7a7a7; padding-left:2px;}
.days_h {width:28px; height:20px; text-align:center; float:left; color:#151515; padding-left:2px;}

a.calendar {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#FFF; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#848484}
a.calendar:hover {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#d16482; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block;color:#fff}

a.calendar_dop {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#FFF; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#848484}
a.calendar_dop:hover {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#FFF; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block;color:#848484; font-weight:bold;}

a.calendar_v {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#d16482; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#fff}
a.calendar_v:hover {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#FFF; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block;color:#848484}

a.calendar_ot {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background: url(../images/calendar_bg.jpg) bottom right no-repeat; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#848484}
a.calendar_ot:hover {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#d16482; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block;color:#fff}

a.calendar_lm {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#FFF; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#d7d7d7}
a.calendar_lm:hover {width:23px; height:18px; text-align:center; float:left; border: solid 1px #dedede; background:#d16482; margin:2px 2px 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; text-decoration:none; display:block; color:#fff}

/* calendar end ------------------------------------------------------------------------------------------------------------------------------*/

a {color:#cb5b7d; text-decoration:underline}
a:hover {color:#cb5b7d; text-decoration:none}

p {margin:8px 0px 7px 0px}








.bluepost {
    background-color: #424242;  color: #0099FF; font-size: 12px; position: relative; bottom: -10px; padding: 10px 4px 10px 15px; 
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    --moz-border-radius: 10px;
    
}
.bluepost a { color: white; }
.bluepost a:hover { text-decoration: underline; }